.sass-cache
_site
.DS_Store
.salivereload

.vscode/settings.json
salivereload/work/fever-01.png
salivereload/CNAME
salivereload/LICENSE.txt
salivereload/README.md
salivereload/feed.xml
salivereload/index.html
salivereload/assets/main.css
salivereload/assets/images/favicon.ico
salivereload/assets/images/favicon.png
salivereload/assets/images/img.png
salivereload/assets/js/s.js
salivereload/work/00-preview.png
salivereload/work/aplazame-01.png
salivereload/work/fever-01.jpg
salivereload/work/fever-01-old.jpg
salivereload/work/tuenti/tuenti-01.png
salivereload/work/yammer/yammer-01.jpg
