<section class="home-work-grid">
    {% for project in site.data.projects %}
    {% include project.html project=project is_first=forloop.first %}
    {% endfor %}

    <!-- Still around? -->
    <div class="home-work-grid__project">
        <div class="home-work-grid__project-description">
            <h2>Still around? 🙂</h2>
            <h3>There is more in my life than Design!</h3>
            <ul>
                <li>✈️ I love traveling; it's a good excuse for <a href='https://glass.photo/adrianmg'>taking
                        pictures</a>.</li>
                <li>🎮 Video games are art; I like playing and <a
                        href='https://github.com/adrianmg/arkanoid'>creating</a> them.</li>
                <li>🏃 Swimming and <a href='https://twitter.com/adrianmg/status/1023607011684974592'>running</a> keep
                    my body and mind balanced.</li>
                <li>🐶 I love animals, and I truly miss <a href='https://www.instagram.com/p/BGtZevCLPL4/'>my dog
                        Coco</a>.</li>
                <li>🎨 I'm not really good at it, but I have fun with <a href='https://adrianmato.art'>3D art</a>.</li>
                <li>📖 Reading makes me think while keeping me curious.</li>
                <li>🗺 Talking about curiosity… here's the <a href="{{ "/sitemap.xml" | relative_url }}">sitemap</a> of
                    my site.</li>
            </ul>
        </div>
    </div>
</section>

