<nav class="home-navigation">
  <ul>
    <li>
      <a href="#home-work">Portfolio</a>
    </li><li>
      <a href="{{ site.baseurl_blog }}">Blog</a>
    </li><li class="home-navigation-resume">
      <a href="https://linkedin.com/in/{{site.linkedin_username}}">Resume</a>
    </li><li>
      <a href="https://github.com/{{ site.github_username }}">GitHub</a>
    </li><li class="home-navigation-twitter">
      <a href="https://twitter.com/{{ site.twitter_username }}">Twitter</a>
    </li><li>
      <a href="mailto:{{ site.email }}">Contact</a>
    </li>
  </ul>
</nav>