<nav class="home-navigation">
    <ul>
        <li><a href="#home-work">Me Work</a></li>
        <li><a href="{{ site.baseurl_blog }}">Ship's Log</a></li>
        <li class="home-navigation-resume"><a href="https://linkedin.com/in/{{site.linkedin}}">Chart o' Deeds</a></li>
        <li><a href="https://github.com/{{ site.github }}">GitHub</a></li>
        <li class="home-navigation-bluesky"><a href="https://bsky.app/profile/{{ site.bluesky }}">Bluesky</a></li>
        <li><a href="mailto:{{ site.email }}">Send Word</a></li>
    </ul>
</nav>
