<div class="home-work-grid">
	<!-- Project Microsoft Yammer -->
	<div class="home-work-grid__project">
		<a name="home-work" class="home-work-grid__anchor" id="home-work"></a>
		<div class="home-work-grid__project-description">
			<h2>Microsoft: Yammer</h2>
			<h3>Sr. Product Designer (2015 – 2018)</h3>
			<p>
				Designing product at the enterprise social network part of Microsoft Office 365.
				Groups of work, project and files management, social and communication capabilities
				and more available on mobile, tablet and desktop.
			</p>
		</div>
		<div class="home-work-grid__project-screenshot"><img src="{{"/assets/work/yammer/yammer-01.jpg " | relative_url }}"></div>
		<div class="home-work-grid__project-screenshot"><img src="{{"/assets/work/yammer/yammer-04.jpg " | relative_url }}"></div>
		<div class="home-work-grid__project-screenshot"><img src="{{"/assets/work/yammer/yammer-03.png " | relative_url }}"></div>
		<div class="home-work-grid__project-screenshot"><img src="{{"/assets/work/yammer/yammer-02.jpg " | relative_url }}"></div>
	</div>

	<!-- Project Fever -->
	<div class="home-work-grid__project">
		<div class="home-work-grid__project-description">
			<h2>Fever: a social event discovery tool</h2>
			<h3>Head of Product Design (2013 – 2014)</h3>
			<p>
				Leading the product, designing and coordinating the engineering team. People would discover new events based
				on purchases from friends and other interesting people, avoiding editorial content.
			</p>
		</div>
		<div class="home-work-grid__project-screenshot"><img src="{{"/assets/work/fever/fever-01.jpg " | relative_url }}"></div>
		<div class="home-work-grid__project-screenshot"><img class="lazy" data-src="{{"/assets/work/fever/fever-02.jpg " | relative_url }}"></div>
	</div>

	<!-- Project Aplazame -->
	<div class="home-work-grid__project">
		<div class="home-work-grid__project-description">
			<h2>Aplazame: deferred online payments made simple</h2>
			<h3>Product Design and Front-End (2014)</h3>
			<p>
				Conceptualizing, designing and coding the front-end of an online payment solution that integrates with
				e-commerce platforms. Deferred payments made easy; you decide when you want to pay and how.
				Available on mobile, tablet and desktop.
			</p>
		</div>
		<div class="home-work-grid__project-screenshot"><img class="lazy" data-src="{{"/assets/work/aplazame/aplazame-01.jpg " | relative_url }}"></div>
		<div class="home-work-grid__project-screenshot"><img class="lazy" data-src="{{"/assets/work/aplazame/aplazame-02.jpg " | relative_url }}"></div>
		<div class="home-work-grid__project-screenshot"><img class="lazy" data-src="{{"/assets/work/aplazame/aplazame-03.png " | relative_url }}"></div>
	</div>

	<!-- Project Tuenti -->
	<div class="home-work-grid__project">
		<div class="home-work-grid__project-description">
			<h2>Tuenti: simplest way of sharing experiences</h2>
			<h3>Senior UI Designer (2012 – 2013)</h3>
			<p>
				Designing at the biggest social network in Spain with 14 million users. Including Web, iOS, Android, Windows Phone and PSP.
				Real-time messages, photos and more, share life with your friends.
			</p>
		</div>
		<div class="home-work-grid__project-screenshot"><img class="lazy" data-src="{{"/assets/work/tuenti/tuenti-01.jpg " | relative_url }}"></div>
	</div>
	<!-- Still around? -->
	<div class="home-work-grid__project">
		<div class="home-work-grid__project-description">
			<h2>Still around? 🙂</h2>
			<h3>There is more in my life than Design!</h3>
			<ul>
				<li>✈️ I love traveling; it's a good excuse for <a href='https://500px.com/adrianmg'>taking pictures</a>.</li>
				<li>🎮 Video games are art; I love playing and <a href='https://github.com/adrianmg/arkanoid'>creating</a> them.</li>
				<li>🏃 Swimming and <a href='https://twitter.com/adrianmg/status/1023607011684974592'>running</a> keep my body and mind balanced.</li>
				<li>🎨 I'm not really good at it, but I love exploring <a href='http://tumblr.adrianmato.com/tagged/cinema4d'>3D art</a>.</li>
				<li>🐶 I love animals, and I truly miss <a href='https://www.instagram.com/p/BGtZevCLPL4/'>my dog Coco</a>.</li>
				<li>📖 Reading makes me think while keeping me curious.</li>
			</ul>
		</div>
	</div>
</div>
