<a name="projects" id="projects"></a>
<div class="projects">

	<!-- Project Fever -->
	<div class="project">
		<div class="project-description">
			<h2>Fever: the social event discovery tool</h2>
			<h3>Head of Product Design (2013 / 2014)</h3>
			<p>
				Leading the product, designing and coordinating the engineering team.
				<br>
				People discover new events based on purchases from friends and other interesting people, avoiding editorial content.
			</p>
		</div>
		<div class="image-container">
			<img src="{{ "/projects/fever-01.jpg" | relative_url }}">
		</div>
	</div>

	<!-- Project Tuenti -->
	<div class="project">
		<div class="project-description">
			<h2>Tuenti: simplest way of sharing experiences</h2>
			<h3>Senior UI Designer (2012 / 2013)</h3>
			<p>
				Designing at the biggest social network in Spain with 14 million users.
				Including Web, iOS, Android, Windows Phone and PSP.
				Real-time messages, photos and more, share life with your friends.
			</p>
		</div>
		<div class="image-container">
			<img src="{{ "/projects/tuenti-01.png" | relative_url }}">
		</div>
	</div>

	<!-- Project Aplazame -->
	<div class="project">
		<div class="project-description">
			<h2>Aplazame: simple deferred online payments</h2>
			<h3>Product Design & Front-End (2014)</h3>
			<p>
				Defining product and designing an online payment integrated browser solution.
				Complex deffered payment the easy way: decide when do you wan to pay. Mobile, tablet and Desktop.
			</p>
		</div>
		<div class="image-container">
			<img src="{{ "/projects/aplazame-01.png" | relative_url }}">
		</div>
	</div>

</div>
