@charset "utf-8";

// Define defaults for each variable.

$base-font-family: "Roboto", sans-serif !default;
$base-font-size:   2.4rem !default;
$base-font-weight: 400 !default;
$small-font-size:  $base-font-size * 0.875 !default;
$base-line-height: 1 !default;

$text-color:       #969AA8 !default;
$background-color: #1B1E26 !default;
$brand-color:      #FFBFCB !default;
$title-color:      #F3F5FD !default;
// $brand-color:      #63b1bf !default;

$base-padding:			3.4em !default;

// Import partials.
@import
  "res/base",
  "res/layout"
;