@charset "utf-8";

// Define defaults for each variable.

$base-font-family: 'Source Sans Pro', 'Helvetica Neue', sans-serif !default;
$base-font-serif:  'EB Garamond', serif !default;
$base-font-size:    2.4rem !default;
$base-font-weight:  400 !default;
$small-font-size:   $base-font-size * 0.875 !default;
$base-line-height:  1 !default;

$text-color:        #9191A1 !default;
$background-color:  #12121A !default;
$brand-color:       #FFB87A !default;
$title-color:       #F2F3FB !default;

$base-padding:      3.4em !default;
$base-max-width:    120.0rem !default;

// Import partials.
@import
  "res/base",
  "res/layout"
;
