<section class="home-work-grid">
	<!-- Project Azure Pipelines -->
	<div class="home-work-grid__project">
		<a name="home-work" class="home-work-grid__anchor" id="home-work"></a>
		<div class="home-work-grid__project-description">
			<h2><a id="project-pipelines" href="#project-pipelines">Microsoft: Azure Pipelines</a></h2>
			<h3>Lead & Design Manager (2018 – 2020)</h3>
			<p>
				Leading a team of 5 designers through a major redesign of a 12 years old enterprise product.
				A new product vision in the CI/CD space for software developers based on a single pipeline experience using YAML.
			</p>
		</div>
		<figure class="home-work-grid__project-screenshot"><img src="{{"/assets/work/pipelines/pipelines-01.png " | relative_url }}" width="1200px" height="440px" alt="Adrián Mato - Azure Pipelines"></figure>
		<figure class="home-work-grid__project-screenshot"><img src="{{"/assets/work/pipelines/pipelines-02.png " | relative_url }}" width="1400px" height="875px" alt="Adrián Mato - Azure Pipelines"></figure>
		<figure class="home-work-grid__project-screenshot"><img src="{{"/assets/work/pipelines/pipelines-04.png " | relative_url }}" width="1400px" height="875px" alt="Adrián Mato - Azure Pipelines"></figure>
		<figure class="home-work-grid__project-screenshot"><img src="{{"/assets/work/pipelines/pipelines-03.png " | relative_url }}" width="1400px" height="875px" alt="Adrián Mato - Azure Pipelines"></figure>
	</div>
	<!-- Project Microsoft Yammer -->
	<div class="home-work-grid__project">
		<div class="home-work-grid__project-description">
			<h2><a id="project-microsoft" href="#project-microsoft">Microsoft: Yammer</a></h2>
			<h3>Sr. Product Designer (2015 – 2018)</h3>
			<p>
				Designing product at the enterprise social network part of Microsoft Office 365.
				Groups of work, project and files management, social and communication capabilities
				and more available on mobile, tablet and desktop.
			</p>
		</div>
		<figure class="home-work-grid__project-screenshot"><img src="{{"/assets/work/yammer/yammer-01.webp " | relative_url }}" width="1200px" height="590px" alt="Adrián Mato - Yammer Office 365"></figure>
		<figure class="home-work-grid__project-screenshot"><img loading="lazy" class="h-bradius" src="{{"/assets/work/yammer/yammer-04.jpg " | relative_url }}" width="1200px" height="636px" alt="Adrián Mato - Yammer Office 365"></figure>
		<figure class="home-work-grid__project-screenshot"><img loading="lazy" src="{{"/assets/work/yammer/yammer-03.webp " | relative_url }}" width="1200px" height="780px" alt="Adrián Mato - Yammer Office 365"></figure>
		<figure class="home-work-grid__project-screenshot"><img loading="lazy" src="{{"/assets/work/yammer/yammer-02.webp " | relative_url }}" width="1200px" height="626px" alt="Adrián Mato - Yammer Office 365"></figure>
	</div>

	<!-- Project Fever -->
	<div class="home-work-grid__project">
		<div class="home-work-grid__project-description">
			<h2><a id="project-fever" href="#project-fever">Fever: a social event discovery tool</a></h2>
			<h3>Head of Product Design (2013 – 2014)</h3>
			<p>
				Leading the product, designing and coordinating the engineering team. People would discover new events based
				on purchases from friends and other interesting people, avoiding editorial content.
			</p>
		</div>
		<figure class="home-work-grid__project-screenshot"><img loading="lazy" src="{{"/assets/work/fever/fever-01.jpg " | relative_url }}" width="1200px" height="626px" alt="Adrián Mato - Fever"></figure>
		<figure class="home-work-grid__project-screenshot"><img loading="lazy" src="{{"/assets/work/fever/fever-02.webp " | relative_url }}" width="1200px" height="780px" alt="Adrián Mato - Fever"></figure>
	</div>

	<!-- Project Aplazame -->
	<div class="home-work-grid__project">
		<div class="home-work-grid__project-description">
			<h2><a id="project-aplazame" href="#project-aplazame">Aplazame: deferred online payments made simple</a></h2>
			<h3>Product Design and Front-End (2014)</h3>
			<p>
				Conceptualizing, designing and coding the front-end of an online payment solution that integrates with
				e-commerce platforms. Deferred payments made easy; you decide when you want to pay and how.
				Available on mobile, tablet and desktop.
			</p>
		</div>
		<figure class="home-work-grid__project-screenshot"><img loading="lazy" src="{{"/assets/work/aplazame/aplazame-01.jpg " | relative_url }}" width="1200px" height="440px" alt="Adrián Mato - Aplazame"></figure>
		<figure class="home-work-grid__project-screenshot"><img loading="lazy" src="{{"/assets/work/aplazame/aplazame-02.jpg " | relative_url }}" width="1200px" height="800px" alt="Adrián Mato - Aplazame"></figure>
		<figure class="home-work-grid__project-screenshot"><img loading="lazy" src="{{"/assets/work/aplazame/aplazame-03.webp " | relative_url }}" width="1200px" height="780px" alt="Adrián Mato - Aplazame"></figure>
	</div>

	<!-- Project Tuenti -->
	<div class="home-work-grid__project">
		<div class="home-work-grid__project-description">
			<h2><a id="project-tuenti" href="#project-tuenti">Tuenti: simplest way of sharing experiences</a></h2>
			<h3>Senior UI Designer (2012 – 2013)</h3>
			<p>
				Designing at the biggest social network in Spain with 14 million users. Including Web, iOS, Android, Windows Phone and PSP.
				Real-time messages, photos and more, share life with your friends.
			</p>
		</div>
		<figure class="home-work-grid__project-screenshot"><img loading="lazy" src="{{"/assets/work/tuenti/tuenti-01.jpg " | relative_url }}" width="1200px" height="780px" alt="Adrián Mato - Tuenti"></figure>
	</div>

	<!-- Project pewpew -->
	<div class="home-work-grid__project">
		<div class="home-work-grid__project-description">
			<h2><a id="project-pewpew" href="#project-pewpew">github-pewpew: clean up your GitHub repositories</a></h2>
			<h3>Personal side project (2021 – 2022)</h3>
			<p>
				Designing, coding, and maintaining a CLI tool to clean up unused repositories. It's open-source and published as an npm package.
				Visit the <a href="/pewpew">website</a> to learn more.
			</p>
		</div>
		<figure class="home-work-grid__project-screenshot"><img loading="lazy" src="{{"/assets/work/pewpew/pewpew.webp " | relative_url }}" width="1200px" height="780px" alt="Adrián Mato - github-pewpew"></figure>
	</div>

	<!-- Project adrianmato.art -->
	<div class="home-work-grid__project">
		<div class="home-work-grid__project-description">
			<h2><a id="project-adrianmatoart" href="#project-adrianmatoart">adrianmato.art: a creative journey through 3D art</a></h2>
			<h3>Personal side project (2022)</h3>
			<p>
				Designing and coding a project featuring inspiring 3D wallpapers crafted with love using Blender. Available for both Desktop &amp; Mobile.
				Visit the <a href="https://adrianmato.art">website</a> to learn more.
			</p>
		</div>
		<figure class="home-work-grid__project-screenshot"><img loading="lazy" src="{{"/assets/work/adrianmatoart/adrianmatoart.webp " | relative_url }}" width="1200px" height="780px" alt="Adrián Mato - adrianmato.art"></figure>
	</div>

	<!-- Still around? -->
	<div class="home-work-grid__project">
		<div class="home-work-grid__project-description">
			<h2>Still around? 🙂</h2>
			<h3>There is more in my life than Design!</h3>
			<ul>
				<li>✈️ I love traveling; it's a good excuse for <a href='https://glass.photo/adrianmg'>taking pictures</a>.</li>
				<li>🎮 Video games are art; I like playing and <a href='https://github.com/adrianmg/arkanoid'>creating</a> them.</li>
				<li>🏃 Swimming and <a href='https://twitter.com/adrianmg/status/1023607011684974592'>running</a> keep my body and mind balanced.</li>
				<li>🐶 I love animals, and I truly miss <a href='https://www.instagram.com/p/BGtZevCLPL4/'>my dog Coco</a>.</li>
				<li>🎨 I'm not really good at it, but I have fun with <a href='https://twitter.com/adrianmg/status/1451811259133792263'>3D art</a>.</li>
				<li>📖 Reading makes me think while keeping me curious.</li>
				<li>🗺 Talking about curiosity… here's the <a href="{{"/sitemap.xml" | relative_url }}">sitemap</a> of my site.</li>
			</ul>
		</div>
	</div>
</section>
