/**
 * BASICS
 */

body {
  padding: 0 4.8rem;
  animation: body-animation 1.6s;
}

@keyframes body-animation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

img {
  max-width: 100%;
}


/**
 * HOME: Intro
 */

.home-intro {
  max-width: $base-max-width;
  height: 100vh;
  margin: 0 auto;
  font-size: 1.8rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}

.home-intro-bio {
  max-width: 66rem;
  position: relative;
  bottom: 6%;
  animation: home-intro-desc-animation .8s ease-out;
}

.home-intro-bio h1 {
  font-size: 4.0rem;
  line-height: 4.8rem;
  font-weight: 600;
  margin-bottom: 0.6rem;
}

.home-intro-bio h2 {
  font-size: 2.4rem;
  line-height: 3.2rem;
  color: $brand-color;
  margin-bottom: 2.2rem;
  font-family: $base-font-serif;
}

.home-intro-bio p {
  line-height: 2.8rem;
  margin-bottom: 2.0rem;
}

@keyframes home-intro-desc-animation {
  from {
    bottom: 4%;
    opacity: 0;
  }
}

.home-intro-scroll {
  width: 1.6rem;
  height: 1.6rem;
  fill: $text-color;
  visibility: hidden;
  opacity: 0;
  transition: all .2s ease-in-out;
  position: fixed;
  bottom: 5.2rem;
  right: 4.8rem;
}

.home-intro-scroll.visible {
  visibility: visible;
  opacity: 1;
  animation-name: home-intro-scroll;
  animation-duration: 2.5s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

@keyframes home-intro-scroll {
  20% {
    // opacity: 1;
  }
  45%  {
    transform: translateY(0);
  }
  50%  {
    // opacity: 1;
    transform: translateY(.5rem);
  }
  65%  {
    // opacity: 1;
    transform:translateY(0);
  }
  75% {
    // opacity: 1;
  }
}

.home-navigation {
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 2.8rem;
  text-transform: uppercase;
  display: flex;
  margin: 0 0 0 -1.4rem;
  position: absolute;
  bottom: 6.0rem;
  left: 0;
  animation: navigation-animation .8s ease;
}

.home-navigation a {
  color: $text-color;
  text-decoration: none;
  padding: 2.0rem 1.4rem;
}

.home-navigation a:hover {
  color: $brand-color;
}

@keyframes navigation-animation {
  from {
    bottom: 6.2rem;
    opacity: 0;
  }
}


/**
 * HOME: Work
 */

.home-work-grid {
  display: grid;
  max-width: $base-max-width;
  grid-row-gap: 22rem;
  margin: 19.8rem auto 0;
}

.home-work-grid__project-description {
  max-width: 54rem;
  margin-bottom: 5.7rem;
  font-size: 1.5rem;
  line-height: 2.4rem;
}

.home-work-grid__project-description h2 {
  font-size: $base-font-size;
  line-height: 2.8rem;
  margin-bottom: 0.7rem;
}

.home-work-grid__project-description h3 {
  font-size: 1.5rem;
  line-height: 2rem;
  margin-bottom: 1rem;
}

.home-work-grid__project-preview {
  position: relative;
  display: block;
}

.home-work-grid__project-preview img {
  display: block;
  transition: all 0.3s ease;
  z-index: 2;
  border-radius: 2px;
}

.home-work-grid__project-preview:hover img {
  opacity: 0.85;
  transform: translateY(-0.6%);
}

.home-work-grid__project-preview--collage {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-gap: 2.4rem;
}

.home-work-grid__project-preview--collage__item:first-child {
  grid-row: 1/3;
}

.home-work-grid__project-preview--collage__item img {
  display: block;
}

// @media (max-width: 768px) {
//   body {
//     font-size: 1.8rem;
//   }
//   .home {
//     padding: 0 1.4em 2em;
//   }
//   .home-inner br {
//     display: none;
//   }
//   .home-inner h1 {
//     font-size: 4rem;
//   }
//   .home-inner p {
//     line-height: 3.0rem;
//   }
//   .project {
//     padding: 0 1.4em 2em;
//   }
// }
//
// @media (max-height: 400px) {
//   .home-inner {
//     top: 36%;
//     -webkit-transform: translateY(-36%);
//             transform: translateY(-36%);
//   }
//   .home-menu { bottom: 20%; }
// }
//
// // @media (min-width: 769px) {
// //   body {
// //     font-size: 2.4rem;
// //   }
// //   .home h1 {
// //     font-size: 7.2rem;
// //     margin-bottom: 2.1rem;
// //   }
// //   .home {
// //     padding: 3.6em;
// //   }
// // }
