/**
 * Basics
 */

body {
  padding: 0 4.8rem;
  animation:          fadeIn 1.6s;
  -moz-animation:     fadeIn 1.6s;
  -webkit-animation:  fadeIn 1.6s;
}

@keyframes          fadeIn { from { opacity: 0; } to { opacity: 1; } }
@-moz-keyframes     fadeIn { from { opacity: 0; } to { opacity: 1; } }
@-webkit-keyframes  fadeIn { from { opacity: 0; } to { opacity: 1; } }

img {
  max-width: 100%;
}


/**
 * Bio: intro
 */

.bio-intro {
  max-width: $base-max-width;
  margin: 18vh auto 0;
  padding-bottom: 20vh;
  font-size: 2.0rem;
}

.bio-intro-desc {
  max-width: 68.0rem;
}

.bio-intro-desc h1 {
  font-size: 7.2rem;
  font-weight: 500;
  margin-bottom: 1.1rem;

}

.bio-intro-desc h2 {
  font-size: 2.0rem;
  line-height: 3.2rem;
  color: $brand-color;
  margin-bottom: 1.6rem;
}

.bio-intro-desc p {
  line-height: 2.8rem;
  margin-bottom: 1.6rem
}

/**
 * Bio: navigation
 */

.bio-intro-nav {
  margin-top: 7.6rem;
  display: inline-block;
}

.bio-intro-nav li {
  display: inline-block;
  margin-right: 2.4rem;
}

.bio-intro-nav a {
  color: $text-color;
  text-decoration: none;
}
.bio-intro-nav a:hover {
  color: $brand-color;
}


/**
 * Projects Grid
 */

.projects-grid {
  display: grid;
  max-width: $base-max-width;
  grid-row-gap: 22.0rem;
  margin: 9.6rem auto 0;
}

.projects-grid__project-description {
  max-width: 54.0rem;
  margin-bottom: 5.7rem;
  font-size: 1.5rem;
  line-height: 2.4rem;
}

.projects-grid__project-description h2 {
  font-size: $base-font-size;
  line-height: 2.8rem;
  margin-bottom: .7rem;
}

.projects-grid__project-description h3 {
  font-size: 1.5rem;
  line-height: 2.0rem;
  margin-bottom: 1.0rem;
}

.projects-grid__project-preview {
  position: relative;
  display: block;
}

.projects-grid__project-preview img {
  display: block;
  transition: all .3s ease;
  z-index: 2;
  border-radius: 2px;
}

.projects-grid__project-preview:hover img {
  opacity: .85;
  transform: translateY(-.6%);
}

.projects-grid__project-preview--collage {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-gap: 2.4rem;
}

.projects-grid__project-preview--collage__item:first-child {
  grid-row: 1/3;
}

.projects-grid__project-preview--collage__item img {
  display: block;
}













// @media (max-width: 768px) {
//   body {
//     font-size: 1.8rem;
//   }
//   .home {
//     padding: 0 1.4em 2em;
//   }
//   .home-inner br {
//     display: none;
//   }
//   .home-inner h1 {
//     font-size: 4rem;
//   }
//   .home-inner p {
//     line-height: 3.0rem;
//   }
//   .project {
//     padding: 0 1.4em 2em;
//   }
// }
//
// @media (max-height: 400px) {
//   .home-inner {
//     top: 36%;
//     -webkit-transform: translateY(-36%);
//             transform: translateY(-36%);
//   }
//   .home-menu { bottom: 20%; }
// }
//
// // @media (min-width: 769px) {
// //   body {
// //     font-size: 2.4rem;
// //   }
// //   .home h1 {
// //     font-size: 7.2rem;
// //     margin-bottom: 2.1rem;
// //   }
// //   .home {
// //     padding: 3.6em;
// //   }
// // }
