/**
 * BASICS
 */

body {
  padding: 0 5.6rem;
  animation: body-animation 1.6s;
}

@keyframes body-animation {
  from {
    opacity: 0;
  }
}

img {
  max-width: 100%;
}


/**
 * HOME: Intro
 */

.home-intro {
  max-width: $base-max-width;
  margin: 0 auto;
  @extend %font-body;
}

.home-intro-bio {
  min-height: 91vh;
  display: flex;
  align-items: center;
  // animation: home-intro-desc-animation .8s ease-out;
}

.home-intro-bio-desc {
  max-width: 66rem;
  bottom: 1.5vh;
  position: relative;
}

.home-intro-bio-desc h1 {
  @extend %font-xl;
  margin-bottom: 0.6rem;
}

.home-intro-bio-desc h2 {
  @extend %font-l;
  color: $brand-color;
  margin-bottom: 2.2rem;
  font-family: $base-font-serif;
}

.home-intro-bio-desc p {
  line-height: 2.8rem;
  margin-bottom: 2.0rem;
}

.home-navigation {
  min-height: 9vh;
  @extend %font-xs;
  font-weight: 600;
  line-height: 2.8rem;
  text-transform: uppercase;
  margin-left: -1.4rem;
}

.home-navigation li {
  display: inline-block;
}

.home-navigation a {
  color: $text-color;
  text-decoration: none;
  padding: 2.0rem 1.4rem;
  position: relative;
  -webkit-transition: all $base-trans-slow ease-in-out;
          transition: all $base-trans-slow ease-in-out;
}

.home-navigation a:hover {
  color: $brand-color;
}

@keyframes home-intro-desc-animation {
  from {
    bottom: 4%;
    opacity: 0;
  }
}

.home-intro-scroll {
  width: 1.6rem;
  height: 1.6rem;
  fill: $text-color;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all $base-trans-mid ease-in-out;
          transition: all $base-trans ease-in-out;
  position: fixed;
  bottom: 5.2rem;
  right: 4.8rem;
}

.home-intro-scroll.visible {
  visibility: visible;
  opacity: 1;
  animation-name: home-intro-scroll;
  animation-duration: 2.5s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

@keyframes home-intro-scroll {
  20% {
    // opacity: 1;
  }
  45%  {
    transform: translateY(0);
  }
  50%  {
    // opacity: 1;
    transform: translateY(.5rem);
  }
  65%  {
    // opacity: 1;
    transform:translateY(0);
  }
  75% {
    // opacity: 1;
  }
}

@keyframes navigation-animation {
  from {
    bottom: 6.2rem;
    opacity: 0;
  }
}


/**
 * HOME: Work
 */

.home-work-grid {
  max-width: $base-max-width;
  margin: 0 auto;
}

.home-work-grid__anchor {
  height: 2.0rem;
  display: block;
  margin-top: 17.8rem;
}

.home-work-grid__project {
  margin-bottom: 20.2rem;
}

.home-work-grid__project-description {
  max-width: 54rem;
  @extend %font-s;
  margin-bottom: 6.1rem;
  line-height: 2.4rem;
}

.home-work-grid__project-description h2 {
  font-size: $base-font-size;
  line-height: 2.8rem;
  margin-bottom: 0.7rem;
}

.home-work-grid__project-description h3 {
  @extend %font-s;
  margin-bottom: 1.4rem;
}

.home-work-grid__project-screenshot {
  margin-bottom: 11.2rem;
}

.home-work-grid__project-screenshot:last-of-type {
  margin-bottom: 0;
}

.home-work-grid__project-screenshot img {
  display: block;
}

.home-work-grid__project-preview--collage {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-gap: 2.4rem;
}

.home-work-grid__project-preview--collage__item:first-child {
  grid-row: 1/3;
}

.home-work-grid__project-preview--collage__item img {
  display: block;
}

.home-work-grid__project img:not([src]) { // lazy load: prevents img without src to appear
  visibility: hidden;
}


/**
 * HOME: Intro
 */

.post {
  max-width: 66rem;
  margin: 6.4rem auto 7.2rem;
  @extend %font-body;
}

.post h1 {
  @extend %font-xl;
  margin-bottom: 2.4rem;
}

.post h2 {
  font-size: $base-font-size;
  line-height: 2.8rem;
  margin-bottom: 2.0rem;
}

.post h3 {
  margin: 2.4rem 0 2.0rem;
}

.post a {
  position: relative;
  text-decoration: none;
  -webkit-transition: all $base-trans ease-in-out;
          transition: all $base-trans ease-in-out;
}

.post a:before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  -webkit-transition: all $base-trans ease-in-out;
          transition: all $base-trans ease-in-out;
}

.post a:hover:before {
  background: rgba($color: $brand-color, $alpha: .08);
}

.post p a, .post li a {
  color: $text-color;
  text-decoration: none;
}
.post-content a, .post-summary a {
  padding: .2rem 0;
}
.post-content p a:before, .post-summary p a:before,
.post-content li a:before, .post-summary li a:before {
  bottom: .2rem;
  border-bottom: 1px solid rgba($color: $text-color, $alpha: .6);
}
.post-content p a:hover:before, .post-summary p a:hover:before,
.post-content li a:hover:before, .post-summary li a:hover:before {
  border-bottom-color: rgba($color: $brand-color, $alpha: .5);
}

.post h3 .anchor {
  color: $text-color;
  text-decoration: none;
  margin-left: -1.1em !important;
  padding: 0;
}
.post h3 .anchor:before {
  display: none;
}

.post a:hover {
  color: $brand-color;
}

.post li:before {
  content: '-';
  margin-right: .8em;
}

.post-meta {
  @extend %font-xs;
  line-height: 1.6rem;
}

.post-meta a {
  color: $text-color;
}

.post-summary {
  @extend %font-s;
  margin-bottom: 4.0rem;
  padding-bottom: 3.2rem;
  @extend %h-divider;
}

.post-summary p, .post-summary ul {
  margin-bottom: 1.2rem;
}

.post-content p {
  line-height: 2.4rem;
  margin-bottom: 2.6rem;
}

.post-content strong {
  font-weight: normal;
  color: $strong-color;
}

.post-content img {
  border-radius: 1px;
  // max-width: 100%;
}

.post-footer a{
  color: $text-color;
}

.post-footer-signature {
  @extend %font-xs;
  margin: 4.0rem auto;
}

.post-footer-back {
  @extend %font-xs;
}

/**
 * BLOG: List of posts
 */

.blog h1 {
  margin-bottom: 4.8rem;
}

.blog-list {
  margin: 0;
}

.blog-list-item {
  display: block;
}

.blog-list-item:before {
  display: none;
}

.blog-list-item a {
  width: 100%;
  display: table;
  border-bottom: .05rem solid rgba($color: $text-color, $alpha: .15);
  -webkit-transition: none;
          transition: none;
}

.blog-list-item a:hover .blog-list-item-title {
  padding-left: .4rem;
}

.blog-list-item a span {
  display: table-cell;
  padding: 1.6rem 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-transition: all $base-trans-mid ease-in-out;
          transition: all $base-trans-mid ease-in-out;
}

.blog-list-item a:before {
  top: -.05rem;
}

.blog-list-item-date {
  width: 25%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  @extend %font-xs;
  text-transform: uppercase;
}

/**
 * MEDIA QUERIES:
 */

@media screen and (max-width: 620px){ // mobile-XXL
  body { padding: 0 3.2rem; }
}
@media screen and (max-width: 480px){ // mobile-XL
  body { padding: 0 2.4rem; }
  .home-intro-scroll.visible { display: none; }
  .home-navigation .home-navigation-resume { display: none; }
}
@media screen and (max-width: 380px) { // mobile-L (body-font ?)
  html { font-size: 59.85%; }
  body.ios .home-intro-bio { min-height: 80vh; } // mobile-safari iOS
  body.ios-iphonex .home-intro-bio { min-height: 77vh; } // mobile-safari iOS iPhoneX
  .home-work-grid__project-screenshot { margin-bottom: 5.2rem; }
  .home-work-grid__project { margin-bottom: 11.2rem; }
  .home-work-grid__project-description { margin-bottom: 4.1rem; }
  .home-navigation { margin-left: -1.2rem; }
  .home-navigation a { padding: 2.0rem 1.2rem; }
}
@media screen and (max-width: 360px) { // mobile-M (body-font 22px)
  html { font-size: 57.25%; }
  body { padding: 0 1.6rem; }
}
@media screen and (max-width: 320px) { // mobile-S (body-font 20px)
  html { font-size: 52.12%; }
}
@-moz-document url-prefix() { img:-moz-loading { visibility: hidden; } } // fixes Firefox anomaly during image load