<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
  {% include head.html %}
  <body>

    <div class="bio-intro">

      <div class="bio-intro-desc">
        <h1>Adri&aacute;n Mato.</h1>
        <h2>Product & Interaction Designer at Microsoft.</h2>
        <p>
          I've been designing digital products for 10+ years on web/mobile/TV.
        </p>
        <p>
          I started my career as a Software Developer until I realized my passion for Design.
          I love combining those different skills creating products that fulfill a clear purpose.
        </p>
        <p>
          I believe in listening, studying, understanding problems and collaborating
          with other people as a process to define coherent systems that transform complexity into simple solutions.
        </p>
        <p>
          I understand Design as a way of solving problems. Form follows function
          and function follows form, they can't be detached. Good Design is simple,
          understandable, honest, scalable, beautiful and most importantly, invisible.
        </p>
      </div>

      <ul class="bio-intro-nav">
        <li><a href="#projects">Work</a></li>
        <li><a href="http://dribbble.com/adrianmg">Dribbble</a></li>
        <li><a href="http://linkedin.com/in/adrianmg">LinkedIn</a></li>
        <li><a href="mailto:hello@adrianmato.com">Contact</a></li>
      </ul>

    </div>

    {% include projects.html %}

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript" src="/assets/js/s.js"></script>
  </body>
</html>
