<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
  {% include head.html %}
  <body>


    <!-- <div class="home">
      <div class="home-inner">
        <h1>{{ site.title}}.</h1>
        <p>{{ site.description }}<br>I love conceptualizing and executing products that solve real problems.</p>
      </div>
      <ul class="home-menu h-absolute">
        <li><a href="#projects">Projects</a></li>
        <li><a href="http://www.linkedin.com/in/adrianmg">Linkedin</a></li>
        <li><a href="http://dribbble.com/adrianmg">Dribbble</a></li>
        <li><a href="http://tumblr.adrianmato.com/">Devlog</a></li>
        <li><a href="mailto:hello@adrianmato.com">Contact</a></li>
      </ul>
    </div> -->

    {% include projects.html %}

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript" src="/assets/js/s.js"></script>
  </body>
</html>
